/*
! Swiper - Midpage
*/

.swiper-wrapper {
  overflow: visible !important;
}

/*
! Swiper - Home
*/

/* .swiper-slide-control {
  z-index: -1 !important;
} */

/*
! Bullet pagination / Swiper
*/

.swiper-pagination-bullet {
  width: 0.375rem !important;
  height: 0.375rem !important;
  background-color: transparent !important;
  border: none !important;
  opacity: 1 !important;
  transition: transform 0.3s ease;
  background-color: var(--white);
  outline-color: var(--border-color--border-invert);
  outline-offset: 3px;
  outline-style: solid;
  outline-width: 1px;
}

.swiper-pagination-bullet-active {
  transform: scale(1);
  background-color: white !important;
}

.swiper-pagination-bullet:hover {
  transform: scale(1);
}

/*
! Inscription API fetch
*/

.fs-combobox_option.w--current {
  background-color: var(--background-color--background-brand);
}

*[tabindex]:focus-visible,
input[type='file']:focus-visible {
  outline: 0rem transparent !important;
}

.dashboard_link-nav {
  border-top-left-radius: 0.5rem !important;
}

/*
! Login Passwordless
*/

.ms-token-input:hover ~ .ms-input {
  border-color: var(--border-color--border-brand);
  box-shadow: none;
}
.ms-token-input:focus ~ .ms-input {
  border-color: var(--border-color--border-brand);
  box-shadow: none;
}
